.button{
    font-family: $fontMain;
    background-color: $ColourThird;
    color: white;
    width: 100%;
    margin-right: 5px;
    border: none;
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 20px;

    &:hover{
        background-color: $ColourSub;
        color: white;
    }

    //on bigger screens
    @media screen and(min-width : 600px){
        width: 45%;
    }
}

.btn-primary:not(:disabled):not(.disabled).active {
    background-color: $ColourSub;
    color: white;
}

.btn-primary.disabled, .btn-primary:disabled {
    background:#447e51;
    border: none;
}

.delBtn{
    background: none;
    float: right;
    width: 50px;  height: 50px;
    border-radius: 25px;
    margin: 5px;
    border: 3px solid $ColourMain;
    font-family: $fontMain;
    font-size: 1.3rem;

    &:hover{
        background-color: rgba(255, 255, 255, 0.479);
        border: 3px solid $ColourSub;
        color: white;
    }

     //on smaller screens
     @media screen and(max-width : 600px){
        font-size: 1rem;
    }
    
}

//position select buttons
.positionToolBar.btn-toolbar {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 20px;

    .btn-group, .btn-group-vertical{
        width: 100%; 

        //on smallest screens
        @media screen and(max-width : 500px){
            width: 40%; 
            flex-wrap: wrap;
        }
    }

    .buttonContainer {
        display: flex;
        justify-content: space-between;

        .positionBtn{
            word-break: break-all;
            font-size: 1.2em;
            background-color: $ColourMain;
            color: black;
                margin-top: 0;

            &:hover{
                background-color: $ColourSub;
                color: white;
            }

            //on smallest screens
            @media screen and(max-width : 600px){
                font-size: 1em;
                margin-bottom: 5px;
                width: 78px;
            }
        }

        .btn-primary:not(:disabled):not(.disabled).active {
            background-color: $ColourSub;
        }
    }
}

.positionToolBar.btn-toolbar .buttonContainer{
    width: 100%;
}

//team size select buttons
.teamSizeToolBar{
    display: inline-block;
    margin-top: 20px;
}

.teamSizeBtnContainer, .teamSizeBtnContainer, .teamSizeBtnContainer{
    width: 124%;
    display: flex;
    justify-content: space-between;

    .teamSizeBtn{
        display: inline-block;
        width: 37%;
        height: 37%;
        background-color: $ColourMain;
        color: black;
        margin-top: 0;

        &:hover{
            background-color: $ColourSub;
            color: white;
        }
    }
}

.teamBplayer {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: $ColourMain;
    color: black;
    margin: 0 10px;
}

.resetBtn{
    margin-top: 20px;
}
