.button{
    font-family: $fontMain;
    background: yellow;
    color: black;
    border: none;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    border: none;

    //on bigger screens
    @media screen and(min-width : 700px){
        width: 45%;
    }
}

.btn-primary.disabled, .btn-primary:disabled {
    background:#447e51;
    border: none;
}

.delBtn{
    background: yellow;
    float: right;
    width: 50px;  height: 50px;
    border-radius: 25px;
    margin: 5px;
    border: none;
}

//position select buttons
.btn-toolbar {
    width: 100%;

    .buttonContainer{
        width: 100%;
        display: flex;
        justify-content: space-between;

        .positionBtn{
            width: 8%;
            word-break: break-all;

            //on smallest screens
            @media screen and(max-width : 500px){
                font-size: 0.6rem;
            }
        }
    }

}

