//background image
body {
    background: url(../img/smallScreen.jpg) repeat top left;
    background-size: 100%;
    margin: 5%; 
    font-family: $fontSub;

     //on bigger screens
     @media screen and(min-width : 600px){
        background: url(../img/bigScreen.jpg) 
        repeat top left;
        background-size: 100%;
    }

}

//header style
h1, .h1, .header {
    font-family: $fontMain;
    color: yellow;
    font-size: 40px;

    p{
        font-family: $fontSub;
        font-size: 1rem; 
    }

    @media screen and(min-width : 700px){
        h1, .h1, .header {
            font-size: 60px;
            
            p{
                font-family: $fontSub;
                font-size: 1rem; 
            }
        }
    }
}

.page-footer{
    font-family: $fontSub;
    font-size: 0.7rem; 
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}


