body {
    background: url(../img/willian-justen-de-vasconcellos-21Cg_fsFBGc-unsplash.jpg);
    object-fit: fill;
    margin: 5%; 
    font-family: $fontSub;

    //on small screens 
    @media screen and(max-width : 700px){

        //stadium
        //background: url(../img/vasiliy-galushko-CqTJeoBZkXo-unsplash.jpg);
        background: url(../img/timothy-tan-PAe2UhGo-S4-unsplash.jpg);

        background-blend-mode: lighten;
        background-size: 100%;
        // object-fit: fill;
        margin: 5%;   
    }   
}

.header {
    font-family: $fontMain;
    color: yellow;
    font-size: 30px;

    p{
        font-family: $fontSub;
        font-size: 1rem; 
    }
}

//form
.button{
    font-family: $fontMain;
    background: yellow;
    color: black;
    // box-shadow: 10px 5px 5px rgb(91, 91, 91);
    border: none;
}

.errorMessage{
    color: white;
}

//list style general
.listHeader, .teamHeader{
    font-family: $fontMain;
    font-size: 2rem; 
    color: white;
    margin-bottom: 0;
}

.listContainer{
    display: flex;
    justify-content: space-between;
   
    .listItems{
        font-family: $fontSub;
        border-radius: 10px;
        width: 100%;
        margin: 5px;
    } 
    .delBtn{
        float: right;
        height: 40%;
        border-radius: 50px;
    }
}

//team list style
.teamContainer{
    display: flex;
    justify-content: space-between;

    .listItems{
        width: 50%;
    }

}

.page-footer{
    font-family: $fontSub;
    font-size: 0.7rem; 
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}


