.teamContainer{
    display: flex;
    justify-content: space-around;
    margin: 5%;

    .h1, h1, .teamHeader, .h1, h1, .teamHeader{
        font-family: $fontMain;
        font-size: 2rem; 
        color: white;
        margin-bottom: 0;

        //on bigger screens
        @media screen and(min-width : 600px){
            font-size: 2.5rem; 
        }
    }

    .teamAcontainer{
        background: rgba(255, 0, 0, 0.5);
        width: 40%;
    }

    .teamBcontainer{
        background: rgba(0, 0, 255, 0.5);
        width: 40%;
    }

    .list-group{
        padding-bottom: 15px;
    }
}
