@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$fontMain: 'Bangers', serif;
$fontSub: 'Roboto', sans-serif;

$colourMain: yellow;
$ColourMainLight: rgb(255, 255, 146);
$ColourSub : rgb(80, 237, 137);
$ColourThird: rgb(45, 3, 232);